.topo {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 75px;
    height: 53px;
    margin-left: 20px;
}

ion-icon[name="people-outline"] {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.chat {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Roboto", serif;
    font-size: 14px;
    z-index: 0;
}

strong {
    font-weight: bold;
}

.mensagem-status {
    background-color: #DCDCDC;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensagem-publica {
    background-color: white;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensagem-privada {
    background-color: #FFDEDE;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensagem {
    border: none;
    width: 90vw;
}

.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.menu-lateral {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    right: 0;
    position: fixed;

}

.tipo-contato {
    display: flex;
    flex-direction: column;
}

.tipo-contato h1,
.tipo-visibilidade h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;

}

li {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}

li p {
    font-family: "Roboto", serif;
    font-size: 16px;
    margin-left: 5px;
}

.contato-todos,
.público,
.reservadamente {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;

}

.contato-todos p,
.público p,
.reservadamente p {
    font-family: "Roboto", serif;
    font-size: 16px;
    margin-left: 5px;
}

ion-icon[name="people"],
ion-icon[name="people-circle"],
ion-icon[name="lock-open"],
ion-icon[name="lock-closed"] {
    font-size: 25px;
}

.check {
    color: #4caf50;
    font-size: 20px;
    right: 20px;
    visibility: hidden; 
    position: absolute;
}

.selecionado .check {
    visibility: visible;
}

.rodapé {
    width: 100vw;
    height: 80px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-mensagem {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.mensagem {
    font-family: "Roboto", serif;
    font-size: 18px;
    font-style: italic;
    border: none;
}

.informações-mensagem {
    font-family: "Roboto", serif;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

ion-icon[name="paper-plane-outline"] {
    margin-right: 20px;
    font-size: 30px;
}


.escondido {
    display: none;

}